<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="app.roseanyone.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application

            android:name=".RosesApp"
            android:allowBackup="true"
            android:icon="@drawable/ic_app"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.AddressActivity">
        </activity>
        <activity android:name=".activity.flower.DetailActivity">
        </activity>
        <activity android:name=".activity.flower.AddFlowerActivity">
        </activity>
        <activity android:name=".activity.flower.FlowerActivity">
        </activity>
        <activity
                android:name=".activity.LanguageActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.RegisterActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.LoginActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.LaunchActivity"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>